@charset "UTF-8";
@font-face {
  font-family: "font1";
  src: url(../fonts/Abril_Fatface/AbrilFatface-Regular.ttf);
}
* {
  box-sizing: border-box;
  font-family: "Gill Sans", "Gill Sans MT", "Trebuchet MS", "Calibri", "sans-serif", "font1";
}

#root {
  max-width: 1400px;
}

body {
  background-color: whitesmoke;
  max-width: 1400px;
  margin: 0;
}

.container {
  max-width: 1400px;
  margin: 5px 0;
}

h1 {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  text-align: center;
  font-size: 30px;
}

h2 {
  font-size: 25px;
}

h3 {
  font-size: 20px;
}

title {
  padding: 10px;
  margin: auto;
}

li {
  display: flex;
  list-style: none;
}

.photos {
  width: 500px;
}

button {
  background-color: rgba(204, 123, 123, 0.912);
  border-color: rgb(255, 196, 21);
  margin: 2px;
  padding: 2px;
}

.link {
  text-decoration: none;
  color: black;
  font-weight: bolder;
}

.lien {
  color: rgb(0, 0, 0);
  font-weight: bolder;
}

#header {
  background-color: black;
  max-width: 1400px;
  margin: 0px;
}
#header p {
  color: white;
}

#logo {
  width: 200px;
}

nav ul {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 2em;
}
nav ul a {
  color: white;
  text-decoration: none;
  font-size: larger;
}
nav ul a:hover {
  color: rgba(242, 213, 25, 0.927);
}

.infos {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.branding {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.carroussel {
  width: 500px;
  height: 500px;
  margin: 2em 0;
}

.pitch {
  text-align: center;
  font-style: italic;
}

.description {
  display: flex;
  flex-direction: column;
  background-color: rgb(32, 32, 32);
  margin: 2em 0;
}
.description h2 {
  text-align: center;
  text-transform: uppercase;
  color: black;
  background-color: rgb(141, 63, 50);
  padding: 2px;
  margin: 2px;
}
.description p {
  padding: 2px;
  margin: 2px;
  font-weight: larger;
  text-align: center;
}

.article {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
  height: auto;
  padding: 20px;
  margin: auto;
  color: white;
}

article .div {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
}

.category img {
  width: 500px;
}

.fans img {
  width: 500px;
}

img_preorder {
  width: 1000px;
  height: 1000px;
}

.features h3 {
  background-color: rgb(180, 99, 85);
}

form {
  display: block;
  background-color: rgb(216, 181, 181);
}

form div {
  display: flex;
  flex-direction: column;
  text-align: left;
  justify-content: center;
  padding: 3px;
  margin: 0;
  width: 50%;
  height: 70px;
}
form div label {
  font-weight: bolder;
}

.coordonnées {
  font-size: larger;
}

.highlight {
  background-color: rgb(180, 99, 85);
}

.policy h3 {
  color: maroon;
}

.policy h2 {
  font-size: 20px;
  color: maroon;
}

.terms {
  text-align: justify;
}

.mandatory {
  text-align: justify;
}

.bandeau {
  width: 1376px;
  height: 400px;
}

.terms h1 {
  text-transform: uppercase;
  color: rgb(180, 99, 85);
  background-color: black;
}

#footer {
  background-color: black;
  max-width: 1400px;
  margin: 0px;
}
#footer h3 {
  font-size: 15px;
}
#footer p {
  font-size: 12px;
}
#footer .nous {
  display: flex;
  color: white;
}
#footer .adverts {
  display: inline-block;
  justify-content: center;
  align-items: center;
  color: white;
  padding: 2em;
  margin: 0;
}
#footer ul {
  padding: 2em;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
#footer a {
  color: white;
  text-decoration: none;
}
#footer a:hover {
  color: rgba(242, 213, 25, 0.927);
}
#footer .picto {
  width: 100px;
  display: flex;
}
#footer .politiques ul {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

@media screen and (max-width: 1200px) {
  .container {
    flex-direction: column;
  }
  .bandeau {
    width: 1000px;
    height: 400px;
  }
  .description {
    flex-direction: column;
    width: auto;
  }
  .photos {
    width: 350px;
    height: auto;
  }
}
@media screen and (max-width: 780px) {
  .container {
    flex-direction: column;
  }
  nav ul {
    flex-direction: column;
    justify-content: center;
    text-align: center;
    height: auto;
  }
  .bandeau {
    width: 500px;
    height: 200px;
  }
  .carroussel {
    width: 500px;
    height: 250px;
    margin: 1em 0;
  }
  .photos {
    width: 200px;
    height: auto;
  }
  section {
    width: auto;
    height: auto;
  }
  .nous {
    flex-direction: column;
    justify-content: center;
    text-align: center;
    height: auto;
  }
  .adverts {
    flex-direction: column;
    justify-content: center;
    text-align: center;
    height: auto;
  }
  .politiques ul {
    flex-direction: column;
    justify-content: center;
    text-align: center;
    height: auto;
  }
}/*# sourceMappingURL=index.css.map */